.background {
    background: url('https://res.cloudinary.com/moviehub/image/upload/v1699535661/Movies/resource.images.moviegenrefanart.wall-blue_sn81nx.jpg') center center;
    position: absolute;
    width: 100%;
    height: 100%;
   
}
