.main-background{
    background-image: url('https://res.cloudinary.com/moviehub/image/upload/v1699535661/Movies/resource.images.moviegenrefanart.wall-blue_sn81nx.jpg');
    height: 60.55rem;
    width: 100%;
}